:host {
  header {
    display: flex;
    align-items: center;
    position: sticky;
    height: 120px;
    top: -50px;
    background-color: white;
    box-shadow: 0px 6px 9px 0px #d2d2d2;

    nav {
      height: 70px;
      position: sticky;
      width: 100%;
      top: 0;

      .logo-container {
        justify-content: center;

        img {
          width: 15vw;
        }
      }
      ul.menu-container {
        list-style: none;
        padding-right: 40px;

        li {
          line-height: 40px;
        }
      }
    }
  }
}
